:root {
  --theme-color-default: #9591A1;
  --theme-color-main: #6936FE;
  --theme-color-main--hover: #A081FE;
  --theme-color-text: #0C002E;
  --theme-color-white: #FFFFFF;
  --theme-color-error: #FE3636;
  --theme-color-error--hover: #FE8080;
}