.HamburgerIcon {
  font-size: 28px;
  color: var(--theme-color-white);
}


.HamburgerNav {
  position:absolute;
  display:block;
  background-color: var(--theme-color-main);
  left:0px;
  width:100%;

  top: 135px;
  height: calc(100% - 135px);

  transform: translateX(100%);
  transition: transform 0.2s ease-in;
}

.HamburgerNavOpen {
  transform: translateX(0);
}

.HamburgerLink {
  display:block;
  padding: 33px 0px; 
  padding-left: 30px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: var(--theme-color-white);
  text-decoration:none;

  transition: background-color 0.2s ease-in-out;
}

.HamburgerLink::after {
  display:block;
  content: "";
  background-color: white;
  margin-top:5px;
  width: 50%;
  height: 5px;
  transform-origin: center left;
  transform: scaleX(20%);

  transition: transform 0.2s ease-in-out;
}

.HamburgerLink:hover::after {
  transform-origin: center left;
  transform: scaleX(100%);
}

.HamburgerLink:hover {
  background-color: var(--theme-color-main--hover);
}

@media screen and (min-width: 1264px) {
  .HamburgerNav {
    display:flex;
    justify-content: space-between;
    width:450px;
    position:static;
    height:inherit;
    background-color: white;
    transform: translateX(0);
  }

  .HamburgerLink {
    padding:0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #0C002E;
  }

  .HamburgerLink::after {
    background-color: var(--theme-color-text);
    width: 100%;
    transform-origin: center left;
    transform: scaleX(50%);
    transition: transform 0.2s ease-in-out;
  }

  .HamburgerLink:hover {
    background-color: white;
  }

  .Hamburger {
    display:none;
  }
}


