.presentationSection {
  width: 84%;
  max-width: 1264px; 
  margin: 0 auto;
  padding: 40px 0;
}

.presentationSectionTitle {
  width: 216px;
}

.presentationSectionDescription {
  width: 200px;
}

.presentationSectionBackground {
  display:none;
}

@media screen and (min-width:1264px) {
  .presentationSection {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .presentationSectionLeft {
    width: 450px;
  }

  .presentationSectionIllustration {
    display:block;
    max-width:450px; 
  }
}

@media screen and (min-width: 1440px) {
  .presentationSection {
    position:relative;
    padding: 60px 0;
    column-gap: 120px;
  }

  .presentationSectionLeft {
    flex-shrink: 0;
    width: 536px;
  }

  .presentationSectionBackground {
    display:block;
    position:absolute;
    right:0px;
    top:0px;
    width: 43%;
    height:100%;
    background-color: var(--theme-color-main);
    border-radius: 170px 0 0 170px;
    z-index: 0;
  }
}